@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css");
@import url("https://fonts.googleapis.com/css?family=Averia+Sans+Libre:300i|Merienda:700");

:root {
  --hexagon-pseudo-elem-v-distance: -75px;
  --hexagon-vertical-border: 150px solid transparent;
}

body {
  background-color: #545454;
  color: #e2e1e1;

  font-family: "Averia Sans Libre", cursive;
  font-size: 4vmin;
  margin: 0;
}

.page-margin {
  padding: 0 10vw;
}

a {
  color: #21130e;
}

h1,
h2 {
  font-family: "Merienda", cursive;
  margin: 25px 15px 15px;
}

#title {
  text-align: center;
}

#hexagon {
  width: 300px;
  height: 175px;
  margin: auto;
  z-index: -1;
  background: linear-gradient(#1b1a1a, #9e9e9e);
  position: relative;
  top: 100px;
  box-shadow: 0px 0px 3741px 25.7px grey;
}
#hexagon:before {
  content: "";
  position: absolute;
  top: var(--hexagon-pseudo-elem-v-distance);
  left: 0;
  width: 0;
  height: 0;
  border-left: var(--hexagon-vertical-border);
  border-right: var(--hexagon-vertical-border);
  border-bottom: 75px solid #1b1a1a;
}
#hexagon:after {
  content: "";
  position: absolute;
  bottom: var(--hexagon-pseudo-elem-v-distance);
  left: 0;
  width: 0;
  height: 0;
  border-left: var(--hexagon-vertical-border);
  border-right: var(--hexagon-vertical-border);
  border-top: 75px solid #9e9e9e;
}

figure {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}

#image {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 250px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 1000px #b1b1b1;
  position: relative;
  top: -110px;
}

figcaption {
  display: inline-block;
  position: relative;
  top: -125px;
  padding: 5px 12px;
  text-align: center;
  background-color: #2f2626;
  transform: skew(22deg, 0deg);
}

figcaption time {
  padding: 0;
}

.typewrite {
  font-family: cursive;
  text-transform: capitalize;
  text-align: center;
  margin-top: -65px;
}

em {
  font-family: monospace;
  margin-top: 20px;
  display: inline-block;
}

blockquote {
  font-family: cursive;
  background-color: dimgray;
  padding: 40px;
  margin: 70px 0 41px;
}

ul {
  padding: 0;
  margin-top: 100px;
}

li {
  display: flex;
  justify-content: center;
  align-items: stretch;
  position: relative;
  padding-bottom: 160px;
}

li:last-child .circle::before {
  display: none;
}

time {
  text-align: right;
}

.mid-block {
  position: relative;
}

.circle {
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  border: 5px solid #b1b1b1;
}

time {
  padding-right: 25px;
  width: 20%;
}

.tribute-info-by-date {
  margin-left: 25px;
  width: 60%;
}

.circle::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  left: 10px;
  top: 10px;
  border-radius: 50%;
  background: #b1b1b1;
}

.circle::before {
  content: "";
  height: calc(100% + 137px);
  width: 0;
  border-left: 2px solid white;
  position: absolute;
  top: 24px;
  left: 14px;
}

footer {
  position: sticky;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  margin-top: 25px;

  background-color: #b1b1b1;
  color: #131313;
  text-align: center;
}

address {
  text-align: right;
  padding: 1px 15px;
}

@media only screen and (min-width: 600px) {
  blockquote {
    transform: skew(-5deg, -3deg);
    border-radius: 30px;
    margin: 70px 10vw 41px;
  }

  .circle::before {
    content: "";
    height: calc(100% + 137px);
    width: 0;
    border-left: 2px solid white;
    position: absolute;
    top: 24px;
    left: 14px;
  }

  .circle::before {
    height: calc(100% + 130px);
    top: 33px;
    left: 19px;
  }

  .circle {
    width: 30px;
    height: 30px;
  }

  .circle::after {
    height: 20px;
    width: 20px;
  }

  .tribute-info-by-date {
    padding: 10px;
    background-color: dimgray;
    transform: skew(10deg, 0deg);
  }
}
